@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Verse */
[epub|type~="z3998:song"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

/* Indented verse */
p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

/* Page break CSS for play compilations only */
section[epub|type~="preface"],
section[epub|type~="z3998:dramatis-personae"],
article > hgroup,
article > h2,
article > header{
	break-after: page;
}

/* Preface headers */
[epub|type~="preface"] header{
	break-after: avoid;
	font-variant: small-caps;
	margin-bottom: 1em;
	margin-top: 3em;
	text-align: center;
}

/* Dialogue table */
[epub|type~="z3998:drama"] table{
	border-collapse: collapse;
	margin: 1em auto;
	width: 100%;
}

[epub|type~="z3998:drama"] tr:first-child td{
	padding-top: 0;
}

[epub|type~="z3998:drama"] tr:last-child td{
	padding-bottom: 0;
}

[epub|type~="z3998:drama"] td{
	padding: .5em;
	vertical-align: top;
}

[epub|type~="z3998:drama"] td:last-child{
	padding-right: 0;
}

[epub|type~="z3998:drama"] td:first-child{
	padding-left: 0;
}

[epub|type~="z3998:drama"] td[epub|type~="z3998:persona"]{
	hyphens: none;
	-epub-hyphens: none;
	text-align: right;
	width: 20%;
}

section[epub|type~="z3998:scene"] > p{
	margin: 1em auto;
	width: 75%;
}

/* Dramatis Personae */
[epub|type~="z3998:dramatis-personae"]{
	text-align: center;
}

[epub|type~="z3998:dramatis-personae"] p{
	text-indent: 0;
}

[epub|type~="z3998:dramatis-personae"] ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

[epub|type~="z3998:dramatis-personae"] ul li{
	font-style: italic;
	margin: 1em;
}

/* Stage directions and personas */
[epub|type~="z3998:stage-direction"]{
	font-style: italic;
}

[epub|type~="z3998:stage-direction"] [epub|type~="z3998:persona"],
i [epub|type~="z3998:persona"]{
	font-style: normal;
}

[epub|type~="z3998:stage-direction"]::before{
	content: "(";
	font-style: normal;
}

[epub|type~="z3998:stage-direction"]::after{
	content: ")";
	font-style: normal;
}

[epub|type~="z3998:persona"]{
	font-variant: all-small-caps;
}

/* Together CSS (for multiple speakers speaking together) */
tr.together{
	break-inside: avoid;
}

tr.together td{
	padding: 0 .5em 0 0;
	vertical-align: middle;
}

tr.together td + td{
	border-left: 1px solid;
}

[epub|type~="z3998:drama"] .together td:last-child{
	padding-left: .5em;
}

/* Epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	-epub-hyphens: none;
}

[epub|type~="epigraph"] cite{
	font-style: normal;
	font-variant: small-caps;
	margin-top: 1em;
}

/* Bridgeheads */
[epub|type~="bridgehead"]{
	display: inline-block;
	font-style: italic;
	max-width: 60%;
	text-align: justify;
	text-indent: 0;
}

[epub|type~="z3998:poem"],
[epub|type~="z3998:verse"]{
	text-align: justify;
}

/* Play-specific CSS */
/* The Admirable Bashville */
/* Inca of Perusalem */
#the-admirable-bashville-act-1,
#the-admirable-bashville-act-2,
#the-admirable-bashville-act-3,
#the-inca-of-perusalem-prologue{
	break-after: page;
}

/* Blanco Posnet */
/* How He Lied to Her Husband */
#the-showing-up-of-blanco-posnet-preface-5 section:last-of-type,
#how-he-lied-to-her-husband-preface section:last-of-type{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}

#the-showing-up-of-blanco-posnet-preface-4 ol:nth-of-type(1){
	list-style-type: decimal;
	margin-bottom: 0;
}

#the-showing-up-of-blanco-posnet-preface-4 ol:nth-of-type(2){
	list-style-type: upper-alpha;
	margin-top: 0;
}

#the-showing-up-of-blanco-posnet-preface-5 ol{
	list-style-type: lower-alpha;
}

/* Press Cuttings */
/* The Music Cure */
#press-cuttings-preface p:first-of-type,
#the-music-cure-preface p:first-of-type{
	margin-top: 3em;
}

/* Miscellaneous */
abbr[epub|type~="se:era"]{
	font-variant: all-small-caps;
}
